/* Torna os cards clicáveis na página inicial */
.card-link {
  text-decoration: none;
  display: block;
  transition: transform 0.2s ease;
}

.card-link:hover {
  transform: scale(1.02); /* Dá um leve zoom quando passa o mouse/dedo */
}

/* Botão voltar para usar nas subpáginas */
.botao-voltar {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e6b800;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.botao-voltar:hover {
  text-decoration: underline;
}
